body {
  background: #ccc
}
#my-file {
  position: absolute;
  top: -10000px;
}
.img-item-container {
  display: flex;
}
.self-file-btn {
  width: 60px;
  height: 60px;
  margin: 10px;
  box-sizing: border-box;
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #ccc;
  color: white;
  border: 1px dotted #fff;
  cursor: pointer;
}
.img-item {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 2px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.img-item-mask {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border-radius: 2px;
  background: #000;
  opacity: 0;
  transition: all .4s;
  .anticon {
    color: #fff;
    font-size: 16px;
  }
}
.img-item:hover {
  .img-item-mask {
    opacity: .6;
  }
}